<div class="container-fluid">
    <h1 class="text-capitalize text-center pt-5">Various Courses</h1>
    <hr class="w-25 pt-5 mx-auto" style="border-color: black">

<div class="row text-center">
    
  <div class="col-lg-3 col-sm-12 col-md-3" *ngFor='let i of cards' >
    <div class="card mb-4 " >
      <img class="card-img-top" src='../assets/hloan.jpg' alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{i.title}}</h4>
      </div>
    <button (click)="onClick(i.id)" class="btn btn-primary text-center mx-5 mb-3" style="border-radius: 5em;">View</button>
    </div>
    </div>
      
</div>
</div>