.wrapper{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 280px 280px 80px;
}

.wrapper > div{
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd){
    background: #ddd;
}
.last{
    grid-column: 1/-1;
}
.first{
    grid-row: 1/3;

}